In [1]:
import pandas as pd

In [2]:
data=pd.read_excel("C:\\Users\\Vikas Kanderai H R\\Desktop\\Data Sets\\investment_banking.xlsx")

In [3]:
data.head()

,broker_id,city,broker_type,fund_category,email_opened,webex_meet,sales_call,firm_sales,global_sales
0,BRXX-1,"PLANTATION, FL",Inter-dealer broker,Emerging-Markets Local-Currency Bond,NaN,NaN,NaN,174.62,174.62
1,BRXX-1,"BRANFORD, CT",Inter-dealer broker,Utilities,NaN,NaN,NaN,0.00,0.00
2,BRXX-1,"JONESBORO, GA",Inter-dealer broker,Intermediate Government,NaN,NaN,NaN,0.00,0.00
3,BRXX-2,"VIENNA, VA",Inter-dealer broker,Intermediate Government,Y,NaN,NaN,0.00,30709.00
4,BRXX-3,"CHAGRIN FALLS, OH",full-service broker,Target-Date 2050,Y,NaN,Y,0.00,0.00

In [4]:
data.columns

Index(['broker_id', 'city', 'broker_type', 'fund_category', 'email_opened',
       'webex_meet', 'sales_call', 'firm_sales', 'global_sales'],
      dtype='object')

In [5]:
list(data.columns)

['broker_id',
 'city',
 'broker_type',
 'fund_category',
 'email_opened',
 'webex_meet',
 'sales_call',
 'firm_sales',
 'global_sales']

In [6]:
data.shape

(753089, 9)

In [7]:
data.isna()   #true if a value is missing else false

,broker_id,city,broker_type,fund_category,email_opened,webex_meet,sales_call,firm_sales,global_sales
0,False,False,False,False,True,True,True,False,False
1,False,False,False,False,True,True,True,False,False
2,False,False,False,False,True,True,True,False,False
3,False,False,False,False,False,True,True,False,False
4,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...
753084,False,False,False,False,False,True,False,False,False
753085,False,False,False,False,True,True,True,False,False
753086,False,False,False,False,True,True,True,False,False
753087,False,False,False,False,True,True,True,False,False
753088,False,False,False,False,True,True,False,False,False

In [8]:
data.isna().sum()  #gives the number of missing values for each column

broker_id             0
city                  0
broker_type           0
fund_category         0
email_opened     434545
webex_meet       667429
sales_call       573091
firm_sales            0
global_sales          0
dtype: int64

In [9]:
(data.isna().sum()/data.shape[0])*100  #gives the percentage of missing values

broker_id         0.000000
city              0.000000
broker_type       0.000000
fund_category     0.000000
email_opened     57.701679
webex_meet       88.625514
sales_call       76.098708
firm_sales        0.000000
global_sales      0.000000
dtype: float64

In [10]:
data['sales_call'].unique()

array([nan, 'Y'], dtype=object)

#### Handeling missing values

In [11]:
# in these column, it has only 2 values i.e YES and NaN so lets impute all NaN with NO, rather than dropping

In [12]:
data['email_opened']= data["email_opened"].fillna("N")
data['webex_meet']= data["webex_meet"].fillna("N")
data['sales_call']= data["sales_call"].fillna("N")

In [13]:
data.head()

,broker_id,city,broker_type,fund_category,email_opened,webex_meet,sales_call,firm_sales,global_sales
0,BRXX-1,"PLANTATION, FL",Inter-dealer broker,Emerging-Markets Local-Currency Bond,N,N,N,174.62,174.62
1,BRXX-1,"BRANFORD, CT",Inter-dealer broker,Utilities,N,N,N,0.00,0.00
2,BRXX-1,"JONESBORO, GA",Inter-dealer broker,Intermediate Government,N,N,N,0.00,0.00
3,BRXX-2,"VIENNA, VA",Inter-dealer broker,Intermediate Government,Y,N,N,0.00,30709.00
4,BRXX-3,"CHAGRIN FALLS, OH",full-service broker,Target-Date 2050,Y,N,Y,0.00,0.00

In [14]:
data.isna().sum()

broker_id        0
city             0
broker_type      0
fund_category    0
email_opened     0
webex_meet       0
sales_call       0
firm_sales       0
global_sales     0
dtype: int64

#### making columns more readable

In [15]:
# spliting the clumn "city" into 2 columns "city and state"

In [16]:
data[['city','state']]=data['city'].str.split(",",n=1,expand=True)  
# "expand" ensures that the dataframe will get separate columns foe city and state
#"n=1" considers the first occurance of the come(",")

In [17]:
data.head()

,broker_id,city,broker_type,fund_category,email_opened,webex_meet,sales_call,firm_sales,global_sales,state
0,BRXX-1,PLANTATION,Inter-dealer broker,Emerging-Markets Local-Currency Bond,N,N,N,174.62,174.62,FL
1,BRXX-1,BRANFORD,Inter-dealer broker,Utilities,N,N,N,0.00,0.00,CT
2,BRXX-1,JONESBORO,Inter-dealer broker,Intermediate Government,N,N,N,0.00,0.00,GA
3,BRXX-2,VIENNA,Inter-dealer broker,Intermediate Government,Y,N,N,0.00,30709.00,VA
4,BRXX-3,CHAGRIN FALLS,full-service broker,Target-Date 2050,Y,N,Y,0.00,0.00,OH

In [18]:
# creating a dummy df for testing purpose

In [19]:
test_df= data[['state','city']]

In [20]:
test_df.head()

  state           city
0    FL     PLANTATION
1    CT       BRANFORD
2    GA      JONESBORO
3    VA         VIENNA
4    OH  CHAGRIN FALLS

In [21]:
test_df[test_df['state'].str.len()>4]['state'].unique()

array([' TN, TN', ' DC, DC'], dtype=object)

In [22]:
test_df['state']=test_df['state'].str.replace(' ','')

C:\Users\Vikas Kanderai H R\AppData\Local\Temp\ipykernel_19400\445209385.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['state']=test_df['state'].str.replace(' ','')

In [23]:
test_df[test_df['state'].str.len()==3]['state'].unique()

array([',MD', ',CT', ',WI', ',VT', ',CA'], dtype=object)

In [24]:
test_df['state']=test_df['state'].str.replace(',','')

C:\Users\Vikas Kanderai H R\AppData\Local\Temp\ipykernel_19400\862178952.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['state']=test_df['state'].str.replace(',','')

In [25]:
test_df[test_df['state'].str.len()==3]['state'].unique()

array([], dtype=object)

In [26]:
test_df['state']=test_df['state'].str.replace('TNTN','TN')
test_df['state']=test_df['state'].str.replace('DCDC','DC')

C:\Users\Vikas Kanderai H R\AppData\Local\Temp\ipykernel_19400\652431272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['state']=test_df['state'].str.replace('TNTN','TN')
C:\Users\Vikas Kanderai H R\AppData\Local\Temp\ipykernel_19400\652431272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['state']=test_df['state'].str.replace('DCDC','DC')

In [27]:
test_df[test_df['state'].str.len()==4]['state'].unique()

array([], dtype=object)

In [28]:
#now updating these changes into the original dataframe

In [29]:
data['state']=data['state'].str.replace(' ','')
data['state']=data['state'].str.replace(',','')
data['state']=data['state'].str.replace('TNTN','TN')
data['state']=data['state'].str.replace('DCDC','DC')

In [30]:
data[data['state'].str.len()>2]['state'].unique()

array([], dtype=object)

In [31]:
data['state'].str.isnumeric().sum()

0

In [32]:
data['city'].str.isnumeric().sum()

37

In [33]:
data[data['city'].str.isnumeric()].head()

,broker_id,city,broker_type,fund_category,email_opened,webex_meet,sales_call,firm_sales,global_sales,state
12956,BRXX-188,64150,Inter-dealer broker,Equity Energy,N,N,N,0.0,0.00,MO
31538,BRXX-77,15801,Inter-dealer broker,World Small/Mid Stock,N,N,N,0.0,5110.16,PA
45478,BRXX-188,64150,Inter-dealer broker,Emerging Markets Bond,N,N,N,0.0,0.00,MO
95111,BRXX-77,15801,Inter-dealer broker,World Bond,N,N,N,0.0,0.00,PA
107878,BRXX-188,64150,Inter-dealer broker,Short-Term Bond,N,N,N,0.0,0.00,MO

In [34]:
#some cities are having pincodes instead of the city names

In [35]:
data[data['city'].str.isnumeric()]['city'].unique()

array(['64150', '15801', '95678'], dtype=object)

In [36]:
#64150->Riverside
# 15801-> DuBois
#95678->Roseville

In [37]:
data['city']=data['city'].str.replace('64150','Riverside')
data['city']=data['city'].str.replace('15801','DuBois')
data['city']=data['city'].str.replace('95678','Roseville')

In [38]:
data['city'].str.isnumeric().sum()

0

In [39]:
data['email_opened'].str.isnumeric().sum()

0

In [40]:
data['email_opened'].unique()

array(['N', 'Y'], dtype=object)

In [41]:
data['webex_meet'].unique()

array(['N', 'Y'], dtype=object)

In [42]:
data['sales_call'].unique()

array(['N', 'Y'], dtype=object)

In [43]:
data['broker_id'].str.isnumeric().sum()

0

In [44]:
data['broker_type'].str.isnumeric().sum()

0

In [45]:
data['fund_category'].str.isnumeric().sum()

0

In [48]:
data['broker_id'].str.isalnum().sum()

0

#### analysis

In [49]:
data.head()

,broker_id,city,broker_type,fund_category,email_opened,webex_meet,sales_call,firm_sales,global_sales,state
0,BRXX-1,PLANTATION,Inter-dealer broker,Emerging-Markets Local-Currency Bond,N,N,N,174.62,174.62,FL
1,BRXX-1,BRANFORD,Inter-dealer broker,Utilities,N,N,N,0.00,0.00,CT
2,BRXX-1,JONESBORO,Inter-dealer broker,Intermediate Government,N,N,N,0.00,0.00,GA
3,BRXX-2,VIENNA,Inter-dealer broker,Intermediate Government,Y,N,N,0.00,30709.00,VA
4,BRXX-3,CHAGRIN FALLS,full-service broker,Target-Date 2050,Y,N,Y,0.00,0.00,OH

In [50]:
data.shape

(753089, 10)

In [51]:
data['broker_id'].nunique()

1178

In [56]:
data.groupby('broker_id')[['firm_sales']].sum().sort_values('firm_sales',ascending=False).head()

             firm_sales
broker_id
BRXX-298   5.748833e+08
BRXX-53    2.165282e+08
BRXX-154   2.155913e+08
BRXX-262   1.998988e+08
BRXX-3     1.454181e+08

In [57]:
data.groupby('broker_id')[['firm_sales','global_sales']].sum().sort_values('firm_sales',ascending=False).head()

             firm_sales  global_sales
broker_id
BRXX-298   5.748833e+08  8.225108e+09
BRXX-53    2.165282e+08  8.368342e+09
BRXX-154   2.155913e+08  5.907926e+09
BRXX-262   1.998988e+08  4.671996e+09
BRXX-3     1.454181e+08  5.880297e+09

In [98]:
a_df=data.groupby('broker_id')[['firm_sales','global_sales']].sum() #analysis df

In [99]:
a_df.head()

            firm_sales  global_sales
broker_id
BRXX-1     11157673.73  1.066317e+08
BRXX-10           0.00  7.483650e+05
BRXX-100     267918.14  8.150361e+06
BRXX-1000         0.00  0.000000e+00
BRXX-1001         0.00  1.089745e+06

In [100]:
a_df.shape

(1178, 2)

In [101]:
#calculating loyality percentage of each broker

In [102]:
a_df['loyality_percent']=a_df['firm_sales']/a_df['global_sales']*100

In [103]:
a_df.head()

            firm_sales  global_sales  loyality_percent
broker_id
BRXX-1     11157673.73  1.066317e+08         10.463750
BRXX-10           0.00  7.483650e+05          0.000000
BRXX-100     267918.14  8.150361e+06          3.287194
BRXX-1000         0.00  0.000000e+00               NaN
BRXX-1001         0.00  1.089745e+06          0.000000

In [104]:
a_df.sort_values('loyality_percent',ascending=False).head()

           firm_sales  global_sales  loyality_percent
broker_id
BRXX-1036      245.76        245.76        100.000000
BRXX-1005       77.23         77.23        100.000000
BRXX-1019     5571.97       5571.97        100.000000
BRXX-498     13042.03      13042.03        100.000000
BRXX-710     27438.30      27627.97         99.313486

In [105]:
#function to check loyality

In [106]:
def loyality_check(loyality_percent):
    if loyality_percent==100:
        return "Loyal Brokers"
    elif loyality_percent>=90:
        return "Steadfast brokers"
    elif loyality_percent==0:
        return "Not commited broker"
    elif loyality_percent<50:
        return "less Inclined brokers"
    elif loyality_percent<90:
        return "Reasonably Devoted Brokers"
    else:
        return "Stagnant Brokers"

In [107]:
loyality_check(100)

'Loyal Brokers'

In [108]:
a_df['loyality_category']=a_df['loyality_percent'].apply(loyality_check)

In [109]:
a_df.head(10)

            firm_sales  global_sales  loyality_percent      loyality_category
broker_id
BRXX-1     11157673.73  1.066317e+08         10.463750  less Inclined brokers
BRXX-10           0.00  7.483650e+05          0.000000    Not commited broker
BRXX-100     267918.14  8.150361e+06          3.287194  less Inclined brokers
BRXX-1000         0.00  0.000000e+00               NaN       Stagnant Brokers
BRXX-1001         0.00  1.089745e+06          0.000000    Not commited broker
BRXX-1002     29387.17  9.652822e+04         30.444123  less Inclined brokers
BRXX-1003         0.00  4.345198e+04          0.000000    Not commited broker
BRXX-1004         0.00  4.814850e+04          0.000000    Not commited broker
BRXX-1005        77.23  7.723000e+01        100.000000          Loyal Brokers
BRXX-1006         0.00  2.995000e+04          0.000000    Not commited broker

In [110]:
a_df['Broker_id']=a_df.index

In [111]:
a_df.head()

,firm_sales,global_sales,loyality_percent,loyality_category,Broker_id
broker_id,,,,,
BRXX-1,11157673.73,1.066317e+08,10.463750,less Inclined brokers,BRXX-1
BRXX-10,0.00,7.483650e+05,0.000000,Not commited broker,BRXX-10
BRXX-100,267918.14,8.150361e+06,3.287194,less Inclined brokers,BRXX-100
BRXX-1000,0.00,0.000000e+00,NaN,Stagnant Brokers,BRXX-1000
BRXX-1001,0.00,1.089745e+06,0.000000,Not commited broker,BRXX-1001

In [112]:
a_df.reset_index(drop=True,inplace=True)

In [113]:
a_df.head(10)

,firm_sales,global_sales,loyality_percent,loyality_category,Broker_id
0,11157673.73,1.066317e+08,10.463750,less Inclined brokers,BRXX-1
1,0.00,7.483650e+05,0.000000,Not commited broker,BRXX-10
2,267918.14,8.150361e+06,3.287194,less Inclined brokers,BRXX-100
3,0.00,0.000000e+00,NaN,Stagnant Brokers,BRXX-1000
4,0.00,1.089745e+06,0.000000,Not commited broker,BRXX-1001
5,29387.17,9.652822e+04,30.444123,less Inclined brokers,BRXX-1002
6,0.00,4.345198e+04,0.000000,Not commited broker,BRXX-1003
7,0.00,4.814850e+04,0.000000,Not commited broker,BRXX-1004
8,77.23,7.723000e+01,100.000000,Loyal Brokers,BRXX-1005
9,0.00,2.995000e+04,0.000000,Not commited broker,BRXX-1006

In [115]:
a_df.groupby('loyality_category')[['Broker_id']].count().sort_values('Broker_id',ascending=False)

                            Broker_id
loyality_category
Not commited broker               686
less Inclined brokers             310
Stagnant Brokers                  166
Reasonably Devoted Brokers          7
Steadfast brokers                   5
Loyal Brokers                       4

In [116]:
#joining the loyality category to the main table

In [117]:
list(data.columns)

['broker_id',
 'city',
 'broker_type',
 'fund_category',
 'email_opened',
 'webex_meet',
 'sales_call',
 'firm_sales',
 'global_sales',
 'state']

In [118]:
list(a_df.columns)

['firm_sales',
 'global_sales',
 'loyality_percent',
 'loyality_category',
 'Broker_id']

In [124]:
final_df= data.merge(a_df,left_on='broker_id',right_on='Broker_id',how='inner')[['broker_id',
 'city',
 'broker_type',
 'fund_category',
 'email_opened',
 'webex_meet',
 'sales_call',
 'firm_sales_x',
 'global_sales_x',
 'state','loyality_percent','loyality_category']]

In [125]:
final_df.head()

,broker_id,city,broker_type,fund_category,email_opened,webex_meet,sales_call,firm_sales_x,global_sales_x,state,loyality_percent,loyality_category
0,BRXX-1,PLANTATION,Inter-dealer broker,Emerging-Markets Local-Currency Bond,N,N,N,174.62,174.62,FL,10.46375,less Inclined brokers
1,BRXX-1,BRANFORD,Inter-dealer broker,Utilities,N,N,N,0.00,0.00,CT,10.46375,less Inclined brokers
2,BRXX-1,JONESBORO,Inter-dealer broker,Intermediate Government,N,N,N,0.00,0.00,GA,10.46375,less Inclined brokers
3,BRXX-1,OWINGS MILLS,Inter-dealer broker,World Large Stock,N,N,N,0.00,4807.68,MD,10.46375,less Inclined brokers
4,BRXX-1,AUSTIN,Inter-dealer broker,Intermediate-Term Bond,N,N,N,0.00,600.00,TX,10.46375,less Inclined brokers

In [133]:
final_df.groupby(['broker_type','loyality_category'])[['broker_id']].nunique()

                                                broker_id
broker_type         loyality_category
Inter-dealer broker Loyal Brokers                       4
                    Not commited broker               685
                    Reasonably Devoted Brokers          7
                    Stagnant Brokers                  166
                    Steadfast brokers                   5
                    less Inclined brokers             306
full-service broker Not commited broker                 1
                    less Inclined brokers               4

In [134]:
final_df.groupby(['email_opened','loyality_category'])[['broker_id']].nunique()

                                         broker_id
email_opened loyality_category
N            Loyal Brokers                       3
             Not commited broker               570
             Reasonably Devoted Brokers          4
             Stagnant Brokers                  134
             Steadfast brokers                   4
             less Inclined brokers             299
Y            Loyal Brokers                       1
             Not commited broker               245
             Reasonably Devoted Brokers          6
             Stagnant Brokers                   36
             Steadfast brokers                   4
             less Inclined brokers             291